xterm*faceName: Hack
xterm*faceSize: 11
xterm*scaleHeight: 1.04

*background: #0f0f0f
*foreground: #e0e0e0
*cursor: #949494

*color0: #212121
*color8: #121212
*color1: #ff4450
*color9: #ff4450
*color2: #c0ffdd
*color10: #c0ffdd
*color3: #ffedc0
*color11: #ffedc0
*color4: #71ddff
*color12: #71ddff
*color5: #dda0ff
*color13: #dda0ff
*color6: #71ddff
*color14: #71ddff
*color7: #e0e0e0
*color15: #e0e0e0
