xterm*faceName: Hack
xterm*faceSize: 11
xterm*scaleHeight: 1.04

*background: #0f0f0f
*foreground: #e0e0e0
*cursor: #949494

*color0: #212121
*color8: #121212
*color1: #ff4450
*color9: #ff4450
*color2: #c0ffdd
*color10: #c0ffdd
*color3: #ffedc0
*color11: #ffedc0
*color4: #71ddff
*color12: #71ddff
*color5: #dda0ff
*color13: #dda0ff
*color6: #71ddff
*color14: #71ddff
*color7: #e0e0e0
*color15: #e0e0e0

+! ------------------------------------------------------------------------------
+! ROFI Color theme
+! ------------------------------------------------------------------------------
+rofi.color-enabled: true
+rofi.color-window: #2f343f, #002b36, #2f343f
+rofi.color-normal: #2f343f, #f3f4f5, argb:0000000, #2f343f, #71ddff
+rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
+rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
